.about_box{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    .about_title{
        margin-top: 50px;
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
        h2{
            
        }
    }
    .introduction{
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        
        .about_me{
            
            h3{
                
            }
            p{
                font-size: 1.1rem;
                line-height: 200%;
            }
        }
        .education{
            h3{

            }
            p{
                font-size: 1.1rem;
                line-height: 200%;
            }
        }
        .skill{
            border: 3px solid #3A98B9;
            padding: 1rem;
           
            .sub_title{
                text-align: center;
                padding: 0 1rem;
            }
            .skill_box{
                
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 2rem;
                text-align: center;
                
                img{
                    width: 80px;
                    height: 80px;
                    
                }
                p{
                    font-size: .7rem;
                    padding: .5rem 0;
                }
            }
        }
    }
}
.sub_title{
    font-size: 2.2rem;
    font-weight: 600;
    padding: 1.6rem 0;
}
