.project{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    
    flex-direction: column;
    .project_tab{
        padding: 3rem 0;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        
        li{
            padding: 1rem;
            cursor: pointer;
            &:hover{
                background: #000;
                color: #fff;
            }
            &.active{
                background: #000;
                color: #fff;
            }
        }
    }
    .project_list{
        height: 600px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        li{
            img{
                width: 90%;
                height: 250px;
            }
        }
    }
}


