.project{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    
    flex-direction: column;
    .project_tab{
        padding-top:2rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #000;
        
        li{
            padding: .8rem 2rem ;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 1.2rem;
            cursor: pointer;
            
            &:hover{
            
                font-weight: bold;
            }
            &.active{
                background: #000;
                color: #fff;
            }
        }
    }
    .project_list{
        height: 600px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        text-align: center;
        padding: 2rem 0;
        li{
            img{
                width: 90%;
                height: 250px;
            }
        }
    }
}


