.header{
    position: fixed;
    border-bottom: 1px solid #fff;
    background: #fff;
    width: 100%;
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .logo{
            h2{
                font-size: 3rem;
            }
        }
        .menu{
            display: flex;
            
            li{
                
                
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 1.6rem;
                    padding: 1rem 2rem;
                    &:hover{
                        background: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
}  
    