.header{
    position: fixed;
    border-bottom: 1px solid #fff;
    background: #fff;
    width: 100%;
    z-index: 10;
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .logo{
            padding: 0 2rem;
            @media screen and (max-width:800px) {
                    padding: 0 1.5rem;
                }
            h2{
                font-size: 3rem;
                @media screen and (max-width:800px) {
                    font-size: 1.5rem;
                }
                a{
                    text-decoration: none;
                    color: #000;
                    cursor: pointer;
                    
                }
            }
        }
        .menu{
            display: flex;
            
            li{
                
                @media screen and (max-width:800px) {
                    
                }
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 1.3rem;
                    padding: 1rem 2rem;
                    @media screen and (max-width:800px) {
                    font-size: .9rem;
                    padding: .8rem .9rem;
                }
                    
                    &:hover{
                        background: #000;
                        color: #fff;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}  
