.container{
  width: 1700px;
  margin: 0 auto;
  height: 100vh;
  background: #FFFFE8;
}
@media screen and (max-width: 1700px){
  .container{
    width: 100%;
  }
}
body{

  /* background: #282c34;
  color: #fff; */
}